dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.virtualenv
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp

*.eventlog

# ignore for packages with supplied sources
pkgs/*/bin
pkgs/*/lib
pkgs/*/logs
pkgs/*/packages
pkgs/*/share
pkgs/*/*.conf.d
pkgs/*/add-source-timestamps
pkgs/*/world
